html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: whitesmoke;
}

.rodape{
    text-align: center;
}

#box1{
    background-color: rgb(119, 168, 247);
}

#boxRedes{
    padding: 5px;
    border: solid;
    border-color: rgb(119, 168, 247);
    border-radius: 10px;
}

#boxForm{
    border: solid;
    border-color: rgb(119, 168, 247);
    border-radius: 10px;
}

.boxPrecos{
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}

.itens{
    display: flex;
    flex-wrap: wrap;
}

.tamanho_texto{
    font-size: 25px;
}

.tamanho_preco{
    font-size: 20px;
}

